<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= APP_TITLE %> |
      <%= TITLE %>
  </title>
  <meta charset="utf-8" lang="en" />
</head>

<body>
  <h1><%= TITLE %></h1>
  <div>
    <h2>Search that</h2>
    <div>
      <input name="search" type="text" id="search-box" />
    </div>
    <a href="/categories">What sort of things can I search?</a>
  </div>
</body>

</html>
